---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WorkHistory from "../components/WorkHistory.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { deserializeManifest } from "astro/app";

const workHistory = [
  {
    title: "Software Engineer (Part Time)",
    companyName: "IDN",
    description:
      "Indonesia's leading media companies, focusing on delivering diverse and engaging content across various platforms. Specializes in digital publishing, multimedia production, and innovative storytelling to connect and inspire the millennial and Gen Z audience.",
    skills: [
      "Representational State Transfer (REST)",
      "Python",
      "Next JS",
      "Object-Oriented Programming (OOP)",
      "Demand Planning",
      "JavaScript",
      "Software Development",
      "React.js",
      "Flask",
      "Docker",
      "Postgresql",
      "Front-End Development",
      "Back-End Web Development",
      "Socket",
    ],
    tasks: ["Help creating feature for saweria as a fullstack engineer"],
    workTime: "June 2024 - current",
    companyUrl: "https://saweria.co",
    companyImage:
      "https://media.licdn.com/dms/image/v2/D560BAQFNNPZ-ImPBkw/company-logo_100_100/company-logo_100_100/0/1718176622020/idn_media_logo?e=1730937600&v=beta&t=J9S2TdlYqu94goXYtHkSGTY-X1hX2P3j8YKVMpKUFHM",
  },
  {
    title: "Software Engineer (Tenaga Ahli)",
    companyName: "Transjakarta",
    description:
      "Jakarta's largest bus rapid transit system, providing efficient and reliable public transportation services to millions of commuters daily. Specializes in enhancing urban mobility through innovative transit solutions and customer-focused services.",
    skills: [
      "Representational State Transfer (REST)",
      "Python",
      "Object-Oriented Programming (OOP)",
      "Demand Planning",
      "JavaScript",
      "Software Development",
      "React.js",
      "Flask",
      "Docker",
      "Mysql",
      "Postgresql",
      "Front-End Development",
      "Back-End Web Development",
      "Socket",
    ],
    tasks: [
      "Improve the GPS system using JavaScript and Python",
      "Calculate the size needed for a data warehouse system",
      "Improve the way to save historical data, reducing it from 5GB per day to 2GB per day",
    ],
    workTime: "May 2024 - current",
    companyUrl: "https://transjakarta.co.id/",
    companyImage:
      "https://media.licdn.com/dms/image/D560BAQG0O8vwK3t11A/company-logo_100_100/0/1704344856553?e=1730937600&v=beta&t=liyYcgx7zeIhqhT26qciumxd0-7hunseYu69CCjewQQ",
  },

  {
    title: "Senior Software Engineer",
    companyName: "Delman Data Teknologi",
    description:
      "One of the earliest data solution companies in Indonesia specializes in data preparation, transformation, and managing custom data projects for clients.",
    skills: [
      "Representational State Transfer (REST)",
      "Python",
      "Object-Oriented Programming (OOP)",
      "Demand Planning",
      "Unit Testing",
      "JavaScript",
      "Software Development",
      "React.js",
      "Flask",
      "Docker",
      "Airflow",
      "Mysql",
      "Postgresql",
      "Front-End Development",
      "Back-End Web Development",
    ],
    tasks: [
      "Engineered a B2B analytics platform for customer behavior that provides almost real time data , utilizing Docker, FastAPI, React.js, and Android",
      "Creating a data orchestrator to analyze customer behavior from multiple data source such as hadoop and postgres using Airflow, sklearn and xgboost to help increasing sales productivity by 4x",
      "Contributed to cleaning data, ingesting hundreds of gigabytes of data from multiple sources such as Cosmos DB, SQL Server, ADLS, etc. Also, translated existing code from Spark to Pandas and PostgreSQl",
      "Cleaning customer data to be ready for use in the CDP system using Pandas and Delman Data Lab as data orchestration tools",
      "Created a Hospital Information System utilizing Flask, React, Docker, and PostgreSQL that used Kubernetes to deploy and used by multiple hospitals and used by more than 30 users everyday.",
      "Contributed to technical planning, sprint prioritization, and task allocation to synergize 3 to 5 engineers, ensuring efficient project execution.",
      "Developing a dynamic analytical dashboard platform that provides real-time data, deployed and utilized by over 20 divisions",
    ],
    workTime: "Nov 2018 - current",
    companyUrl: "https://delman.io",
    companyImage:
      "https://media.licdn.com/dms/image/C4E0BAQEuwERmD2rYoQ/company-logo_100_100/0/1644895762868/delman_io_logo?e=1730937600&v=beta&t=t1aetOcNAe3UnfBvkls2aycEK9LZT4eg8iFmqh8FKdU",
  },
  {
    title: "Backend engineering mentor",
    companyName: "Startup Campus",
    description:
      "A fully accredited education institution providing in-demand Digital and ESG competencies complemented with real projects, certification, and job connectors. ",
    skills: [
      "Representational State Transfer (REST)",
      "Python",
      "Object-Oriented Programming (OOP)",
      "JavaScript",
      "Teaching",
      "Software Development",
      "Flask",
      "Back-End Web Development",
      "Mentoring",
      "Docker",
    ],
    tasks: [
      "Mentor a cohort of 15 individuals, emphasizing proficiency in backend development using Python and Flask.",
      "Deliver guidance on fundamental DevOps methodologies, introducing students to Docker and the Google Cloud Platform.",
      "Cultivate a comprehensive learning environment that integrates these technologies, fostering adeptness in contemporary software development and deployment practices.",
      "Demonstrate capacity to mentor others in technical domains, facilitating knowledge transfer and skill development in software engineering.",
    ],
    workTime: "May 2022 - Dec 2022",
    companyUrl: "https://startupcampus.id",
    companyImage:
      "https://media.licdn.com/dms/image/C560BAQET9ukDoadfYQ/company-logo_100_100/0/1647888813644/startupcampusid_logo?e=1730937600&v=beta&t=Eu9Xd2Qtab19qZUQtKVTyR3kpF3r9cLtxqIU3S_STok",
  },
  {
    title: "Software Engineer",
    companyName: "Kibar",
    description:
      "A tech startup ecosystem builder in Indonesia that distribute opportunities in the digital era by partnering with industry stakeholders, running programs to nurture startups, and establishing hubs for creators, innovators, and entrepreneurs to collaborate",
    skills: [
      "Representational State Transfer (REST)",
      "Python",
      "Object-Oriented Programming (OOP)",
      "JavaScript",
      "Software Development",
      "Flask",
      "Back-End Web Development",
      "Docker",
    ],
    tasks: [
      "Implemented a Single Sign-On system using Django for backend, Docker for containerization, and React.js for frontend.",
      "Utilized Python and Django for robust Back-End Development.",
      "Played a key role in designing and developing an HR system to streamline organizational processes.",
      "Contributed significantly to the development of the Creative Ecosystem platform (kreavi.com), employing Flask for backend development, React for frontend, and Docker for efficient deployment.",
      "Demonstrated strong technical proficiency and cross-functional expertise in delivering comprehensive solutions to meet diverse organizational needs.",
    ],
    workTime: "Oct 2017 - Oct 2018",
    companyUrl: "https://www.linkedin.com/company/kibar-kreasi-indonesia/",
    companyImage:
      "https://media.licdn.com/dms/image/C560BAQGFKFSaqOF5kA/company-logo_100_100/0/1631365620315?e=1730937600&v=beta&t=O8NdR1N24SrIIJ-OeSIDkfSnOBdn0wIeHn68SjBhl-s",
  },
];
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="flex flex-column items-center">
        <h1>Hello There !</h1>
        <img
          class="ml-4 w-30 h-11"
          src="https://static1.srcdn.com/wordpress/wp-content/uploads/2022/03/Obi-Wan-Kenobi-Hello-There.jpg"
        />
      </div>
      <p>
        I'm Raihan Parlaungan, currently flexing my coding muscles at <a
          href="delman.io">delman.io</a
        > As a Senior Software Engineer, I'm all about solving complex problems and
        coding. I'm language, framework, and tool agnostic, but for now, I'm mainly
        using Python and JavaScript.
      </p>
      <p>
        i'm also have certified as <a
          href="https://www.credential.net/46b0ac88-08ec-4c75-8fd7-ee710a790bd5?key=4efaf873c4bd26efae98c7b954065ca9528043b143657a0c7b57c0be95343076"
          >Associate android developer
        </a> and <a
          href="https://www.credential.net/18cefe1e-9ac9-4ff5-92ca-98e12790e073?key=ef3f134e8f40edd6da79d3f560b7c16c06c12cfe8e7eb7f0d6d5fc98678e2795"
          >GCP Associate Cloud Engineer
        </a>
      </p>
      <p class="mt-10">My Experience Playlist:</p>
      {
        workHistory.map((work) => (
          <WorkHistory
            title={work.title}
            companyName={work.companyName}
            companyUrl={work.companyUrl}
            description={work.description}
            skills={work.skills}
            workTime={work.workTime}
            tasks={work.tasks}
            companyImage={work.companyImage}
          />
        ))
      }

      <Footer />
    </main>
  </body>
</html>
